# Version control
.git
.gitignore

# Python environments & caches
.env
.env.*
.pytype/
.pyre/
**/.venv/
**/.pytest_cache/
**/.mypy_cache/
**/.typewiz_cache/
**/__pycache__/

# Node / tooling caches
node_modules/
.cache/

# Dev-only typing helpers
typings/

# Local-only tooling & docs
.devcontainer/
.github/
docker-compose*.yml
docs/
packages/udocket_docs/build/
packages/udocket_docs/site/
packages/udocket_docs/docs/_assets/mermaid/
docs_old/
scripts/
tests/
reports/
**/*.md
!packages/udocket_docs/README.md
__AUTO__

# BuildKit/Buildx caches
.docker/

# Local storage & emulator data
storage/
__blobstorage__/
__azurite_db_*.json

# IDE state
.vscode/
