{% load static %}
<script src="{% static 'platform_ui/js/jobs_table.js' %}"></script>
<script src="{% static 'platform_ui/js/case_detail/helpers.js' %}"></script>
<script src="{% static 'platform_ui/js/case_detail/ui.js' %}"></script>
<script src="{% static 'platform_ui/js/case_detail/realtime.js' %}"></script>
<script src="{% static 'platform_ui/js/case_detail/modals.js' %}"></script>
<script src="{% static 'platform_ui/js/case_detail/actions.js' %}"></script>
<script src="{% static 'platform_ui/js/case_detail/controller.js' %}"></script>
