# Django core
Django>=4.2.25,<4.3
django-environ>=0.12.0
pydantic-settings>=2.11.0,<3

# API & schema
djangorestframework>=3.16.1
drf-spectacular>=0.28.0
django-filter>=25.1

# AuthN/Z
django-guardian>=3.2.0
rules>=3.5
drf-access-policy>=1.5.0
mozilla-django-oidc>=4.0.1
djangorestframework-simplejwt[crypto]>=5.5.1
psycopg[binary]>=3.2.10

# Realtime
channels>=4.3.1
channels-redis>=4.3.0
asgiref>=3.9.2
redis>=6.4.0
daphne>=4.2.1

# Background jobs
celery>=5.5.3
django-celery-beat>=2.8.1
django-celery-results>=2.6.0
PyYAML>=6.0.3
azure-storage-blob>=12.26.0
azure-cognitiveservices-speech>=1.46.0

# Integrity / audit helpers
django-auditlog>=3.2.1
django-simple-history>=3.10.1
django-cleanup>=9.0.0
django-anymail[mailgun]>=13.1
django-axes>=8.0.0

# Dev / testing
pytest>=8.4.2
pytest-django>=4.11.1
pytest-asyncio>=1.2.0
factory-boy>=3.3.3
model-bakery>=1.20.5
mypy>=1.18.2
django-stubs[compatible-mypy]>=5.2.5
djangorestframework-stubs>=3.16.4
channels-stubs>=4.0.0
types-psycopg2>=3.1.21.0
types-requests>=2.32.0.20240914
types-requests-oauthlib>=2.0.0.20240522
types-redis>=4.6.0.20241018
types-PyYAML>=6.0.12.20240917
types-python-jose>=3.3.4.20240901
types-pyOpenSSL>=24.2.0.20240813
types-cffi>=1.16.0.20240724
types-setuptools>=75.2.0.20240917
types-oauthlib>=3.2.0.20240806
types-python-dateutil>=2.9.0.20240906
types-pyasn1>=0.6.0.20240926
pytest-stubs>=0.2.0
celery-stubs>=0.1.3
flake8>=7.3.0
black>=25.9.0
bandit>=1.8.6
django-upgrade>=1.28.0
