# Django core
Django>=5.2.7,<5.3
django-environ>=0.12.0
pydantic-settings>=2.11.0,<3

# API & schema
djangorestframework>=3.16.1
drf-spectacular>=0.28.0
django-filter>=25.2

# AuthN/Z
django-guardian>=3.2.0
rules>=3.5
drf-access-policy>=1.5.0
mozilla-django-oidc>=4.0.1
djangorestframework-simplejwt[crypto]>=5.5.1
psycopg[binary]>=3.2.10

# Realtime
channels>=4.3.1
channels-redis>=4.3.0
asgiref>=3.10.0
redis>=6.4.0
daphne>=4.2.1

# Background jobs
celery>=5.5.3
django-celery-beat>=2.8.1
django-celery-results>=2.6.0
PyYAML>=6.0.3
azure-storage-blob>=12.27.0

# Integrity / audit helpers
django-auditlog>=3.3.0
django-simple-history>=3.10.1
django-cleanup>=9.0.0
django-anymail[mailgun]>=13.1
django-axes>=8.0.0
